{% extends 'base.html' %}
{%  load static %}

{% block title %}Register{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "account/account.css" %}"/>
{% endblock %}

{% block content %}
  <h2>Register form</h2>
  <form action='' method='post' class='col-md-6'>
      {% csrf_token %}
      {{ form.as_p }}
      <img src="/static/account/img/close.svg" class="is-pass-visible deactive">
      <input type='submit' value='Register' class='btn btn-primary'>
      <input type='reset' value='Reset' class='btn btn-secondary'>
    </form>
{% endblock %}