{%  load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block css_files %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .jumbotron {
        padding: 20px;
        margin-button: 20px;
        background-color: #enecef;
      }
    </style>
  </head>
  <body>
    {% include 'inc/navbar.html' %}
    <div class="jumbotron">
      {% include 'inc/messages.html' %} {% block content %}{% endblock %}
    </div>
    <script src="{% static '/account/js/app.js' %}"></script>
  </body>
</html>
